@{
    ViewBag.Title = "About Reedly Coding";
    ViewBag.Message = "Reedly Coding is a Seattle-based development team";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Equivalent to an army of one, Reedly Coding sole coder is James Shively.</p>
<p>He also does more than web and mobile development, he also markets!</p>
