@{
    ViewBag.Title = "Contact Us For More Info";
    ViewBag.Message = "We are here if you have questions";
    ViewBag.Message1 = "Reedly Coding";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3><br />
<h4>@ViewBag.Message1</h4>
<address>
    123 Fake Street<br />
    Seattle, WA 98100<br />
    <abbr title="Phone">P:</abbr>
    206.555.1234<br />
    <abbr title="Fax">F:</abbr>
    206.555.4321
</address>

<address>
    <strong>Marketing:</strong>   <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>Booking:</strong> <a href="mailto:Booking@example.com">Booking@example.com</a><br />
    <strong>Development:</strong> <a href="mailto:WebDev@example.com">WebDev@example.com</a>
</address>